*{
    // background:#333;
    
    // overflow:hidden;
    padding:0;
    margin: 0;
    // font-family:  'Roboto Condensed', sans-serif;
    font-family: "HelveticaNeue-Medium","Helvetica Neue Medium";
    font-weight: 400;
    line-height: 1.5;
    img{
        max-width:100%;
    }
}
.main{
    background-color: #f3f3f3;
   min-height: 75vh;
}
.container{
    max-width: 1024px;
    margin: auto;
}
// btn classes and links
a{
    text-decoration: none;
    &:hover{
        color: green;
    }
}
.primary-btn{
    margin-top: 1rem;
    border: none;
    padding: 1.1rem 1.6rem;
    color: #fff;
    background-color: #6b6;
    border-radius: 4px;
    font-size: 0.9rem;
    margin-bottom: 0.7rem;
    &:hover{
        color:#494;
        background-color: #fff;
    }
}
.secondary-btn{
    margin-top: 1rem;
    border: none;
    padding: 0.7rem 1.1rem;
    color: purple;
    background-color: green;
    border-radius: 4px;
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
    &:hover{
        color:red;
        background-color: #fff;
    }
}
// utility classes
.utility{
    width:80%;
    margin: auto;
    background-color: #f1f1ff;
    padding: 1rem;
    .label{
        font-size: 2.5rem;
        display: block;
    }
    .form-control{
        margin-top: 1rem;
        padding:0.8rem;
        background-color: #333;
        color: #fff;
        border: solid  #89591d 0.2rem;
        border-radius: 4px;
        font-size:1.5rem;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 0.1rem;
    }
    // div{
    //     display: grid;
    //     grid-template-columns: repeat(2,1fr);
    //     grid-gap: 0.1rem;
    // }
}

// styling for the login component and/or register component 
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    // text-align: center;
    padding-top: 3rem;
    // max-width:80%;
    // margin: auto;
}
// products styling
#products{
    padding: 2rem;
    #grid-products{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 0.3rem;
        .product{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 0.1rem;
            &:hover{
                padding:0.1rem;
                border-bottom: solid red 0.5rem;
            }
            .imgs{
                width:190px;
                max-height:150px;
            }
        }
    }
}
// tyling for the footer component 
.footer{
    padding:2rem;
    background-color: #333;
    color: #fff;
    p{
        text-align: center;
        font-size: 400;
    }
}